* {
   margin:0;
   border:0;
   box-sizing: border-box;
   scroll-behavior: smooth; 
}

body{
    font-family: 'Poppins',sans-serif;
    color:#fff;
    background-color:#0f172a;
    line-height: 1.6;
}

header{
    background-color: #1e293b;
    position: fixed;
    width:100%;
    top:0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding : 1rem 6%;
}

.logo{
    font-size: 1.8rem;
    font-weight: 600;
    color:#a0e1fd;
}

.logo span{
    color:#facc15;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration: none;
    color: #e2e8f0;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color: #38bdf8;
}

.home-section{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg,#0f172a,#1e293b);
}

.home-content h2{
    font-size: 2.5rem;
    margin-bottom:0.5rem;
    color:#fff;
}

.home-content span{
    color: #38bdf8;
}

.home-content h3{
    font-weight: 400;
    margin-bottom: 1rem;
    color: #cbd5e1;
}

.home-content p{
    max-width: 600px;
    margin:0 auto 1.5rem;
    color:#94a3b8;
}

.btn{
    background: #0078ff;
    color:white;
    padding:10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight:600;
    transition: background 0.3 ease;
}

.btn:hover{
    background: #005fcc;
}

section{
    padding:80px 10%;
}

section h2{
    text-align:center;
    font-size:2rem;
    color:#38bdf8;
    margin-bottom:30px;
}

.about-section{
    max-width:900px;
    margin:0 auto;
    text-align: center;
    padding: 60px 20px;
}

.about-section button{
    background: #38bdf8;
    color:#0f172a;
    border:none;
    padding:12px 28px;
    font-size:16px;
    border-radius: 8px;
    cursor:pointer;
    transition: backkground-color 0.3s ease,transform 0.2s ease;
    display:inline-block;
    margin-top:20px;
}

.about-section button:hover{
    background: #facc15;
    color:#000;
    transform:scale(1.05);
}


.about-section p{
    max-width:800px;
    margin:0 auto;
    text-align:center;
    color:#cbd5e1;
    margin-bottom:25px;
}

.projects-section{
    padding:80px 10%;
    text-align: center;
    background-color: #f8f9fa;
}

.projects-section h2{
    font-size:2rem;
    margin-bottom: 10px;
}

.projects-section p{
    font-size: 1rem;
    margin-bottom: 40px;
    color:#555;
}


.project-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.project-card{
    background: #fff;
    padding:25px;
    border-radius:12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3 ease, box-shadow 0.3 ease;
}

.project-card:hover{
    transform:translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.project-card h3{
    color: #333;
    margin-bottom: 10px;
}

.project-card p{
    color:#666;
    font-size: 0.95rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.project-buttons{
    display: flex;
    justify-content:center;
    gap:15px;
}

.view-project{
    background: #0078ff;
    color:white;
    padding:10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight:600;
    transition: background 0.3 ease;
}

.view-project:hover{
    background: #005fcc;
}

.project-card a{
    text-decoration: none;
    color:#38bdf8;
    font-weight: 500;
}

.project-card a:hover{
    text-decoration: underline;
}

.skills-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    list-style:none;
}

.skills-list li{
    background: #1e293b;
    padding:10px 20px;
    border-radius:20px;
    color:#38bdf8;
    font-weight: 500;
    transition:0.3s;
}

.skills-list li:hover{
    background: #38bdf8;
    color:#0f172a;
}

.contact-section p{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:20px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    max-width:500px;
    margin:0 auto;
    gap:15px;
}

.contact-form input,
.contact-form textarea{
    padding:12px;
    border:none;
    border-radius:5px;
    outline:none;
    font-size:1rem;
}

.contact-form button{
    padding:12px;
    border:none;
    background: #38bdf8;
    color: #0f172a;
    font-weight: 600;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background: #facc15;
}

footer{
    background: #1e293b;
    text-align: center;
    padding:1rem;
    color:#94a3b8;
    font-size:0.9rem;
}

.menu-toggle{
    display: none;
    font-size: 1.8rem;
    color:#38bdf8;
    cursor:pointer;
}

.contact-info{
    text-align: center;
    margin-top: 30px;
}

.contact-info p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.contact-info a {
  color: #0078ff;
  text-decoration: none;
  font-weight: 500;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-info i{
    margin-right: 8px;
    color: #0078ff;
}

.social.links{
    margin-top: 10px;
}

.social-links a {
  margin: 0 12px;
  color: #0078ff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease,transform  0.3 ease;
}

.social-links a:hover {
  color: #005fcc;
  transform: translateY(-2px);
}

.social-links i{
    margin-right: 6px;
}


@media(max-width:1024px){
    .about-section{
        padding:40px 15px;
    }
    .about-section button{
        margin:20px auto 0;
        display:inline-block;

    }
}


@media(max-width:768px){
    .about-section{
        padding: 30px 10px;
    }
    .about-section p{
        font-size: 1rem;
    }
    .about-section button{
        width:auto;
    }
    .nav-links{
        display: none;
    }
    .home-content h2{
        font-size: 2rem;
    }
    section{
        padding:60px 5%;
    }
    .menu-toggle{
        display: block;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        background:#1e293b;
        position:absolute;
        top:70px;
        right:10px;
        width:200px;
        border-radius:10px;
        text-align:center;
        padding:1rem 0;
    }
    .nav-links.active{
        display:flex;
    }
    .nav-links li{
        margin:10px 0;
    }
    .projects-section{
        padding:60px 6%;
    }
    .project-card{
        padding: 20px;
    }
    .project-buttons{
        flex-direction: column;
        gap: 10px;
    }
}